# python=3.9
# pip==23.0.1
# pytorch==2.0.0
# torchvision==0.15.0
# pytorch-cuda==11.8
pyquaternion==0.9.9
pyyaml==6.0
pexpect==4.8.0
mujoco==2.3.7
dm_control==1.0.14
matplotlib==3.7.5
einops==0.7.0
packaging==23.0
h5py==3.8.0
ipython==8.12.3
opencv-python==4.9.0.80
rospkg==1.5.0
empy==3.3.4
catkin-pkg
diffusers==0.26.3
termcolor==2.4.0
imageio==2.34.0
# cd act/detr && pip install -v -e .